
@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@500&display=swap');

:root {
    --mint: #6DF1A4;
    --cobalt: #5769F4;
}

html, body {
    scroll-behavior: smooth;
}

body {
    justify-content: center;
    background-image: url(images/circles-background.png);
    background-size: contain;
    font-family: 'Maitree', serif;
}

header {
    top: 0;
    width: 80%;
    margin: auto;
    padding: 10px;
    background-color: var(--mint);
    
    line-height: 20px;
    border-radius: 25px;
    border-color: white;
    border-style: solid;
}

.main-title {
    text-align: center;
}

.header-subtext {
    text-align: center;
    padding: 0px;
}

.my-link {
    color: black;
    text-decoration: none;
}

a.my-link:hover {
    color: white;
    font-weight: bold;
}

.article-link {
    color: black;
    text-decoration: none;
}

a.article-link:hover {
    color: var(--cobalt);
    font-weight: bold;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.nav-item {
    text-decoration: none;
    padding: 10px;
    text-align: center;
    color: black;
}

a.nav-item:hover {
    color: white;
    font-weight: bold;
}



.main-div {
    display: flex;
    flex-direction: column;
    
    margin: auto;
    width: 80%;
    padding: 10px;
    
    margin-top: 50px;
    background-color: var(--cobalt);
    
    border-radius: 25px;
    border-color: white;
    border-style: solid;
}

.page-section {
    height: 600px;
    background-color: white;
    border-radius: 10px;
    
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    
    padding: 10px;
}

.quote-block {
    margin-left: 50px;
    padding: 10px;
    border-color: gray;
    border-left: 2px solid;
}

.references-div {
    display: flex;
    justify-content: space-between;
}